/* src/components/AudioVisualizer.css */
.visualizer-canvas {
  width: 100px;
  height: auto;
  border-radius: 50%;
  background:radial-gradient(circle, rgb(132 48 145 / 70%) 38%, rgb(238 140 243 / 21%) 56%);
  margin-bottom: 1rem;
}
