@import "~react-h5-audio-player/lib/styles.css";

body {
  font-family: 'Arial, sans-serif';
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


.sound-wave {
  width: 100%;
  height: 100px;
  display: none !important;
}
